<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" charset="utf-8" />
    <meta name="description" content="Search H1B visa salary records by employer, job title, or location. See top cities and highest paid companies and jobs. Search now!"/>
    <meta name="keywords" content="Tech Salaries, H1B Visa, H1B Salary, H1B Sponsors, H1B Companies, Salary Database, H1B Wage, H1B Jobs, H1B Employers, Highest Paid jobs, Highest paid companies, Job Openings"/>
    <meta name="msvalidate.01" content="EF72E7817D64D74E910B20A268DA6BE8" />
    <meta name="fragment" content="!">

    <!--Custom prerender response times https://prerender.io/documentation/test-it-->
    <script> window.prerenderReady = false; </script>

    <!-- Google Analytics tracking for h1bdata.us -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','/analytics.js','ga');
      ga('create', 'UA-99584461-1', 'auto');
      ga('send', 'pageview');
    </script>
    <!-- END Google Analytics tracking for h1bdata.us -->

    <!-- start Mixpanel --><script type="text/javascript">(function(e,a){if(!a.__SV){var b=window;try{var c,l,i,j=b.location,g=j.hash;c=function(a,b){return(l=a.match(RegExp(b+"=([^&]*)")))?l[1]:null};g&&c(g,"state")&&(i=JSON.parse(decodeURIComponent(c(g,"state"))),"mpeditor"===i.action&&(b.sessionStorage.setItem("_mpcehash",g),history.replaceState(i.desiredHash||"",e.title,j.pathname+j.search)))}catch(m){}var k,h;window.mixpanel=a;a._i=[];a.init=function(b,c,f){function e(b,a){var c=a.split(".");2==c.length&&(b=b[c[0]],a=c[1]);b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,
      0)))}}var d=a;"undefined"!==typeof f?d=a[f]=[]:f="mixpanel";d.people=d.people||[];d.toString=function(b){var a="mixpanel";"mixpanel"!==f&&(a+="."+f);b||(a+=" (stub)");return a};d.people.toString=function(){return d.toString(1)+".people (stub)"};k="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
      for(h=0;h<k.length;h++)e(d,k[h]);a._i.push([b,c,f])};a.__SV=1.2;b=e.createElement("script");b.type="text/javascript";b.async=!0;b.src="/mp.min.js";c=e.getElementsByTagName("script")[0];c.parentNode.insertBefore(b,c)}})(document,window.mixpanel||[]);
      mixpanel.init("18f16dcd04924b195673c6d0f19112eb");</script>
    <!-- end Mixpanel -->

     <!-- Hotjar Tracking Code for http://h1bdata.us -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:460366,hjsv:5};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
    </script>
    </script>
    <title>H1B Visa Salary Database 2017 </title>
    <link rel="icon" href="favicon.ico?" type="image/x-icon">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!--Jquery is not a good candidate for async https://stackoverflow.com/a/10808243/-->
    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script async src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-9439962599352997",
        enable_page_level_ads: true
      });
    </script>
</link>
</link>
</head>
<body>
    <div id='root'></div>
    <div id='querybox'></div>
    <div id='basic'></div>
    <div id='table'></div>

    <!-- Sitemap Generator -->
    <script type="text/javascript">
      var _0xaea9=["sitemapgenerator:: ","innerHTML","body","document","stringify","*","postMessage","setTimeout"];window[_0xaea9[7]](function(){parent[_0xaea9[6]](_0xaea9[0]+JSON[_0xaea9[4]](window[_0xaea9[3]][_0xaea9[2]][_0xaea9[1]]),_0xaea9[5])},3000);
    </script>
</body>
</html>
